footer.footer
    .footer__logo 
        img(src="/img/logo-green.png" alt="Natours logo")
    ul.footer__nav 
        li: a(herf="#") About us
        li: a(herf="#") Download apps
        li: a(herf="#") Become a guide
        li: a(herf="#") Careers
        li: a(herf="#") Contact 
    p.footer__copyright &copy; Copyright by Timmy Cheng. Licensed under the MIT license.